# ====== GENERAL CONFIG ======
PORT=3000
NODE_ENV=production

# ====== ZOHO CONFIG ======
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=

ZOHO_DESK_DEPARTMENT_ID=
ZOHO_DESK_ORG_ID=

# ====== NEXTAUTH CONFIG ======
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# ====== DATABASE CONFIG ======

# PRODUCTION DATABASE
DATABASE_URL=

# DEVELOPMENT DATABASE
# DATABASE_URL=postgresql://neondb_owner:npg_SMx8ygWQr4cH@ep-bold-credit-aduvb0o9-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ====== CLAUDINARY CONFIG ======
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# ====== RESEND CONFIG ======
# == API KEY (CombiSales) ==
RESEND_API_KEY=